# Virtual environment
vit/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/
*.whl

# Kaggle-specific files
.kaggle/
